@font-face {
  font-family: party;
  src: url(party.ttf);
}

body, html {
    box-sizing: border-box;
    background-image: url('calcBG.jpg');
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* @keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dollar {
-webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
} */


#container {
    background-image: linear-gradient(rgba(3, 15, 34, 0.97), rgb(255, 255, 255, 0.7));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 655px;
    width: 600px;
    border: 2px solid rgb(4, 29, 49);
    box-shadow: 0px 0px 30px rgba(0, 22, 63, 0.7);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

  .topIcon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      background-color: rgb(4, 25, 43);
      top: -88px;
      border-radius: 35px;
      z-index:5;
      color:rgb(170, 193, 218);
      font-size: 2rem;
  }

  .bottomIcon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      background-color: rgb(173, 0, 0);
      bottom: 210px;
      left: 120px;
      border-radius: 15px;
      z-index:5;
      color:rgb(255, 255, 255);
      font-size: 1rem;
      background-image:linear-gradient(to top , rgb(112, 0, 0), rgb(209, 1, 1));
      box-shadow:0px 2px 3px rgb(49, 70, 97);
      transition: 2s ease-in-out;
  }


.bottomIcon2 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      background-color: rgb(173, 0, 0);
      bottom: 210px;
      right: 120px;
      border-radius: 15px;
      z-index:5;
      color:rgb(255, 255, 255);
      font-size: 1rem;
      background-image:linear-gradient(to top , rgb(112, 0, 0), rgb(209, 1, 1));
      box-shadow:0px 2px 3px rgb(49, 70, 97);
      transition: 2s ease-in-out;
  }

.topIconRotate2 {
    transform: rotate(-1800deg);
}

.header {
    position: relative;
    width: 85%;
    height: 60px;
    top: -30px;
    text-align: center;
    background-color: rgb(0, 19, 41);
    border-radius: 15px;
    border-top: 1px solid rgb(156, 179, 204);
    border-bottom: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
}

h2 {
    font-family:party;
    color:  rgb(146, 167, 190);
    letter-spacing: 5px;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(27, 79, 139));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.howMuch {
    text-align: center;
    font-family: party;
    letter-spacing: 3px;
    font-size: 1rem;
    color: rgb(233, 233, 233);
    margin-top: 0px;
}

#billAmt {
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: .8rem;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    outline: none;
    color:white;
    font-family: party;
    letter-spacing: 3px;
}

.bill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64%;
     box-shadow:0px 1px 5px rgb(0, 0, 0);
     border: 6px solid rgb(3, 23, 39);
}

#billAmt::placeholder {
    color: rgb(211, 211, 211);
}

.service {
    text-align: center;
    font-family: party;
    letter-spacing: 3px;
    font-size: 1rem;
    color:  rgb(255, 255, 255);
}

select {
    color: white;
}

.howMany {
    text-align: center;
    font-family: party;
    letter-spacing: 3px;
    font-size: 1rem;
    color:  rgb(255, 255, 255);
}

.choose {
    width: 65%;
    border: 2px solid rgb(7, 36, 63);
    box-shadow:0px 1px 5px rgb(13, 26, 43);
}

#serviceQual {
    position: relative;
    padding: 10px;
    font-family: party;
    font-size: .8rem;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    width: 100%;
    border-style: none;
    outline: none;
    background-color: transparent;
    border: 5px solid white;
}
    
option {
    color: rgb(4, 29, 44);
    font-size: 1.2rem;
}

.numPeople {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#people {
    position: relative;
    padding: 10px;
    font-size: 1.2rem;
    width: 15%;
    border-style: none;
    color: rgb(124, 0, 0);
    box-shadow:0px 1px 5px rgb(13, 26, 43);
    outline: none;
    border: 5px solid rgb(168, 0, 0);
} 

#people::placeholder {
    color: rgb(168, 168, 168);
    font-size: 1rem;
    font-family: party;
    letter-spacing: 3px;
}

.btn {
    width: 65%;
    margin-top: 18px;
  }

#myButton {
    margin-top: 5px;
    position: relative;
    width: 100%;
    height: 60px;
    background-image:linear-gradient(to top , rgb(112, 0, 0), rgb(209, 1, 1)); 
    font-family: party;
    letter-spacing: 5px;
    color: white;
    font-size: 1.6rem;
    border-style: none;
    box-shadow:0px 1px 5px rgb(13, 26, 43);
    cursor: pointer;
}

#totalTip {
    margin-top: 15px;
    width: 65%;
    font-family: 'Times New Roman', Times, serif;
    font-size:3.4rem;
    font-weight: bold;
    color: rgb(153, 0, 0);
    text-align: center;
    border-bottom: 4px dotted rgb(128, 0, 0);
    padding-bottom: 10px;
    text-shadow: 0px 2px 3px rgb(32, 68, 97);
} 

.clear {
    width: 40%;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 35px;
}

#clearInput {
    width: 50%;
    height: 30px;
    border-radius: 15px;
    font-family:party;
    font-size: 1rem;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    background-image:linear-gradient(to top , rgb(112, 0, 0), rgb(209, 1, 1));
    border-style: none;
    box-shadow:0px 2px 3px rgb(49, 70, 97);
    cursor: pointer;
}

.generous {
    position: absolute;
    visibility: hidden; 
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height:320px;
    border-radius: 150px;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    background-image:linear-gradient(to top , rgb(112, 0, 0), rgb(209, 1, 1));
    box-shadow:0px 0px 30px rgb(28, 42, 59);
}

.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wow {
    visibility: hidden;
    transition: 3s ease-in-out;
    z-index: 5;
    text-shadow: 0px 2px 5px rgb(46, 0, 0);
    font-family: party;
}

.wowRotate {
    transform: rotate(1800deg);
}

/* Media Queries */
 @media screen and ( max-height: 850px) {
    #container  {
       margin-top: 100px;
       margin-bottom: 40px;
    }
}

@media screen and ( max-width: 650px) {
    #container  {
        width: 400px;
        height: 650px;
    }
    .clear {
        margin-top: 20px;
    }
     #totalTip  {
        margin-top: 20px;
    }
    #people  {
       width: 22%;
    }
    h2 {
        letter-spacing: 0px;
    }
    .bottomIcon{
        left: 85px;
        bottom: 212px;
    }
    .bottomIcon2{
        right: 85px;
        bottom: 212px;
    }
  }

  @media screen and ( max-width: 450px) {
    #container  {
        width: 360px;
        height: 650px;
    }
    .bottomIcon{
        left: 75px;
        bottom: 207px;
    }
    .bottomIcon2{
        right: 75px;
        bottom: 207px;
    }
    #myButton {
        font-size: 1.2rem;
    }
    #people::placeholder{
        font-size: .8rem;
    }
    #totalTip{
        font-size: 2.8rem;
    }
  }

  @media screen and ( max-width: 380px) {
    #container  {
        width: 340px;
    }
    #people::placeholder{
        font-size: .7rem;
    }

    .howMany, .howMuch, .service {
        font-size: .9rem;
    }
    .generous {
        width: 280px;
        height: 280px;
        font-size: 1.4rem;
    }
}